/* Área de los anuncios en tamaño tablet o mayor */
@include tablet {
  /* Estilo para la distribución de los anuncios */
  .contenedor-anuncios {
    @include grid(3, 2rem);
    // El número de anuncios / la seración entre ellos
  }
}

/* Estilos para el anuncio */
.anuncio {
  background-color: lighten($gris, 5);
  border: 1px solid lighten($grisOscuro, 10);
  margin-bottom: 2rem;

  /* Estilos para el contenido del anuncio */
  .contenido-anuncio {
    padding: 2rem;
  }

  /* h3 y p */
  h3,
  p {
    margin: 0;
  }
}

/* Estilos para el precio */
.precio {
  color: $verde;
  font-weight: bold;
  font-size: 3rem;
}

/* Estilos para los íconos del anuncio */
.iconos-carcateristicas {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 40rem;

  li {
    flex: 1;
    display: flex;

    img {
      flex: 0 0 3rem;
      margin-right: 1rem;
    }

    p {
      font-weight: $black;
    }
  }
}
