/* Estilos para la barra de navegavión */
.barra {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;

  /* En tamaño tablet o mayor */
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Estilos para la navegación */
.navegacion {
  /* En tamaño tablet o mayor */
  @include tablet {
    display: flex;
    align-items: center;
  }

  /* Estilos para los <a> de la navegación */
  a {
    color: $blanco;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    text-align: center;

    &:hover,
    &:focus {
      color: $negro;
      background-color: $amarillo;
      transition: ease .2s all;
    }

    /* En tamaño tablet o mayor */
    @include tablet {
      margin-right: 2rem;
      font-size: 1.8rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
